@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
}

.inter-font {
    font-family: "Inter", sans-serif;
}

/* common CSS Properties starts here.............. */
.color1 {
    color: rgba(255, 255, 255, 1.00);
}

.color2 {
    color: rgba(255, 255, 255, 0.5);
}

.page-align-center {
    max-width: 85%;
    margin: 100px auto 100px auto
}

/* common CSS Properties ends here.............. */

/* header section starts here............ */
header {
    /* background-image: linear-gradient(180deg, rgba(17, 17, 17, 0)0%, rgba(119, 119, 119, 1.0) 100%); */
    background: linear-gradient(180deg, rgb(32, 32, 32), rgba(34, 33, 33, 0.7) 100%);
}

.navbar-and-banner-container {
    max-width: 85%;
    margin: 0 auto;
}

/* navbar starts here........ */
.navbar-container {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-size: 2.25rem;
    font-weight: 800;
    font-style: italic;
    color: #E6533C;
}

.links-container {
    border: 1px solid rgba(255, 255, 255, 0.10);
    border-radius: 35px;

}

.navbar-links {
    display: flex;
    align-items: center;
    margin: 12px;

}

.navbar-links li {
    list-style: none;
}

.navbar-links>li>a {
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 1.0);
    padding: 8px 25px;
}

.home-link {
    background-color: #E6533C;
    border-radius: 45px;
}

#hambarger {
    display: none;
}

/* navbar ends here........ */

/* header section ends here............ */
/* banner section starts here......... */
.banner-container {
    display: flex;
    justify-content: space-between;
}

.banner-content {
    width: 45%;
    padding-bottom: 70px;
}

.banner-img-container {
    width: 45%;
}

.banner-title {
    font-size: 4.58rem;
    font-weight: 800;
    line-height: 100px;
}

#shape {
    font-family: 'Miama', sans-serif;
    font-size: 10rem;
    font-weight: 300;
    font-style: normal;
}

.banner-describtion {
    font-size: 0.8rem;
    font-weight: 400;
    margin: 25px 0;
}

.btn-primary {
    padding: 15px 45px;
    background-color: #E6533C;
    border: none;
    border-radius: 40px;
    font-size: 1.20rem;
    font-weight: 600;
    cursor: pointer;
    margin-right: 15px;

}

.btn-secondary {
    padding: 15px 45px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 1.00);
    border-radius: 40px;
    font-size: 1.20rem;
    font-weight: 600;
    cursor: pointer;


}

.banner-img-container {
    background-image: url('../images/Images\ 2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65% 100%;
    position: relative;
}

.video-350 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 200px;
    height: 90px;
    background-color: rgba(44, 43, 43, 0.54);
    border-radius: 12px;
    position: absolute;
    bottom: 70px;
}

.circle {
    width: 40px;
    height: 40px;
    background-color: #E6533C;
    border-radius: 50%;
}

#play-btn {
    display: none;
}

#play-white-btn {
    position: absolute;
    bottom: 300px;
    left: 5px;
    color: rgba(250, 250, 249, 1.00);
}

.video-500 {
    width: 190px;
    height: 90px;
    text-align: center;
    background-color: rgba(44, 43, 43, 0.54);
    border-radius: 12px;
    padding: 12px 15px;
    position: absolute;
    right: 20px;
    top: 130px;
}

/* banner section ends here......... */

/* change habits section starts here............. */
.habit-content {
    width: 50%;
    margin: 0 auto 60px auto;
    text-align: center;
}

.section-title {
    font-size: 3rem;
    font-weight: 700;

}

.section-describtion {
    font-size: 0.8rem;
    margin-top: 14px;
    letter-spacing: 0.3px;
    line-height: 24px;
}

.habit-images-container {
    display: flex;
    justify-content: space-between;
}

.habit-images-container>div {
    width: 20%;
    text-align: center;
}

.habit-images-container div>img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 30px;
}

.img-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 6px;
}

.img-describtion {
    font-size: 0.8rem;
}

/* change habits section ends here............. */


/* Run section starts here............. */
.run-container {
    display: flex;
    justify-content: space-between;
    background-color: rgba(34, 34, 34, 1.00);
    padding: 30px 35px;
    border-radius: 20px;
    height: 370px;

}

.run-container>div:nth-child(1) {
    width: 45%;
}

.run-container>div:nth-child(2) {
    width: 40%;
}

.run-img-container>img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: none;
    object-position: right 30% top 30%;
}

.run-btn {
    margin-top: 35px;
}

/* Run section ends here............. */

/* training section starts here............... */
.training-content {
    width: 50%;
    margin-bottom: 50px;
}

.training-img-container {
    display: grid;
    height: 400px;
    grid-template-columns: repeat(12, 1fr);
}

.training-img1 {
    grid-column: 1/ span 3;
    background-image: linear-gradient(45deg, rgba(6, 255, 210, 0.50), rgba(6, 255, 210, 0.50)), url('../images/exercise1.jpg');
    background-position: center;
    background-size: 100% 100%;
    position: relative;
}

.training-img2 {
    grid-column: 4/ span 6;
    background-image: linear-gradient(45deg, rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.3)), url('../images/exercise2.png');
    background-position: center;
    background-size: 100% 100%;
    position: relative;
}

.training-img3 {
    grid-column: 10/ span 3;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/exercise3.png');
    background-position: center;
    background-size: 100% 100%;
    position: relative;
}

.training-img4 {
    grid-column: 1/ span 5;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/exercise4.png');
    background-position: center;
    background-size: 100% 100%;
    position: relative;
}

.training-img5 {
    grid-column: 6/ span 3;
    background-image: linear-gradient(45deg, rgba(66, 255, 0, 0.3), rgba(66, 255, 0, 0.3)), url('../images/exercise5.jpg');
    background-position: center;
    background-size: 100% 100%;
    position: relative;
}

.training-img6 {
    grid-column: 9/ -1;
    background-image: linear-gradient(45deg, rgba(0, 71, 255, 0.3), rgba(0, 71, 255, 0.3)), url('../images/exercise6.jpg');
    background-position: center;
    background-size: 100% 100%;
    position: relative;
}

.training-pic1 {
    font-size: 0.8rem;
    font-weight: 600;
    position: absolute;
    bottom: 20px;
    left: 10px;
}

.training-pic2 {
    font-size: 0.8rem;
    font-weight: 400;
    position: absolute;
    top: 20px;
    left: 20px;
}

.training-pic3 {
    font-size: 0.8rem;
    font-weight: 400;
    position: absolute;
    bottom: 20px;
    left: 10px;
}

.training-pic4 {
    font-size: 0.8rem;
    font-weight: 400;
    position: absolute;
    top: 20px;
    right: 10px;
}

.training-pic5 {
    font-size: 0.8rem;
    font-weight: 400;
    position: absolute;
    bottom: 20px;
    left: 10px;
}

.training-pic6 {
    font-size: 0.8rem;
    font-weight: 400;
    position: absolute;
    bottom: 20px;
    left: 10px;
}

/* training section ends here............... */

/* bmi section starts here................. */
.bmi-content {
    width: 50%;
    margin: 0 auto;
}

.bmi-background {
    background-color: rgba(34, 34, 34, 1.00);

}

.bmi-container {
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
}

.bmi-table,
.bmi-form {
    width: 50%;
}

.table-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 50px;
    word-spacing: 5px;
}

table {
    width: 60%;

}

table,
tr,
th,
td {
    border: 1px solid rgba(255, 255, 255, 0.50);
    border-collapse: collapse;
    padding: 15px;

}

.table-head {
    text-align: left;
    color: rgba(245, 235, 235, 0.9);
}

.form-title {
    font-size: 1.5rem;
    font-weight: 500;
    word-spacing: 5px;
}

form {
    margin-top: 30px;
}

input,
select,
option {
    width: 48%;
    height: 50px;
    margin-bottom: 12px;
    margin-right: 1%;
    background-color: rgba(255, 255, 255, 0.10);
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 1.2rem;
    padding: 0 20px;
    font-weight: 500;
    color: rgb(182, 177, 177);
}

::placeholder {
    font-size: 1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.60);
    padding: 12px 0px;
    /* appearance: none; */
}

select {
    font-size: 1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.60);
    padding: 12px 15px;

}

option {}

#factor {
    width: 98%;
}

.btn-form {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 16px 70px;
    border-radius: 40px;
    margin-top: 35px;
    background-color: rgba(230, 83, 60, 1.00);
    border: none;
    cursor: pointer;
}

/* bmi section ends here................. */

/* team section starts here................ */

.team-content {
    width: 50%;
    margin: 0 auto 60px auto;
    text-align: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px 300px;
    grid-gap: 20px;
    background-color: rgba(255, 255, 255, 0.10);
    padding: 20px;
    border-radius: 18px;

}

.img-box {
    position: relative;
}

.gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.20),
            rgba(0, 0, 0, 0.20));
    position: absolute;

}

.team-img-container>div>img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
    object-fit: cover;
    display: block;
}


.designation {
    position: absolute;
    bottom: 20px;
    left: 15px;
}

.designation h5 {
    font-size: 1.25rem;
}

/* team section ends here................ */


/* footer section starts here.............. */
footer {
    background-color: rgba(255, 255, 255, 0.10);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 60px 0px;
    gap: 100px;
}

.brand-content,
.footer-center-content,
.footer-right-content {
    width: 33.33%;
}

.footer-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 30px;
}

.footer-list li {
    list-style: none;
    margin-bottom: 20px;

}

.footer-list li a {
    font-size: 1.2rem;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.50);
}

hr {
    border-color: rgba(255, 255, 255, 0.10);
}

.right {
    padding: 35px;
    text-align: center;
}

.footer-buttom {
    margin-bottom: 0px;
}

/* footer section ends here.............. */




/* ======================Resposive For Mobile================================ */

@media screen and (max-width:576px) {

    /* navbar section responsive starts here........ */
    .links-container {
        display: none;
    }

    #hambarger {
        display: block;
        color: #FFFFFF;
        font-size: 2rem;
        font-weight: 600;
    }

    /* navbar section responsive ends here........ */
    /* banner section responsive starts here........ */
    .banner-container {
        flex-direction: column;
    }

    .banner-content {
        width: 100%;
        padding-bottom: 10px;
    }

    .banner-title {
        font-size: 2.25rem;
        line-height: 50px;
    }

    #shape {
        font-size: 5rem;
    }

    .banner-describtion {
        font-size: 1rem;
        text-align: justify;
    }

    .btn-primary {
        padding: 15px 30px;
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .btn-secondary {
        padding: 15px 20px;
        font-size: 1rem;
    }

    .banner-img-container {
        width: 100%;
        height: 500px;
    }

    .circle {
        display: none;
    }

    #play-btn {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        color: #E6533C;
        background-color: rgba(255, 255, 255, 1.0);
        border-radius: 55%;
    }

    #play-white-btn {
        display: none;
    }

    .video-500 {
        width: 140px;
        height: 50px;
    }

    .video-500 {
        width: 150px;
        height: 70px;
        padding: 12px 18px;
        top: 50px;
        right: 10px;
    }

    .video-500 h1 {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .video-500 p {
        font-size: 0.7rem;
        /* font-weight: 600; */
    }

    .video-350 {
        width: 160px;
        height: 80px;
        bottom: 200px;
        left: 10px;
        padding: 8px 15px;
    }

    .video-350 div>p {
        font-size: 0.8rem;
    }


    /* banner section responsive ends here........ */

    /* change habits section responsive ends here............. */
    .page-align-center {
        margin-top: 30px;
    }

    .habit-content {
        width: 100%;
    }

    .section-title {
        font-size: 2rem;
    }

    .habit-images-container {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
    }

    .habit-images-container>div {
        width: 70%;
    }


    /* change habits section responsive ends here............. */



    /* Run section responsive starts here............. */
    .run-container {
        flex-direction: column;
        padding: 30px 30px;
        gap: 20px;
        height: auto;
    }

    .run-container>div:nth-child(1) {
        width: 100%;
        height: auto;
    }

    .run-container>div:nth-child(2) {
        width: 100%;
        height: 200px;
    }

    .run-btn {
        width: 100%;

    }

    .run-img-container>img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        object-fit: contain;

    }

    /* Run section responsive ends here............. */

    /* training section starts here............... */
    .training-content {
        width: 100%;
        margin-bottom: 30px;
    }

    .training-img-container {
        height: 250px;
    }

    .training-img1 {
        grid-column: 1/ span 6;
    }

    .training-img2 {
        grid-column: 7/ -1;
    }

    .training-img3 {
        display: none;
    }

    .training-img4 {
        grid-column: 1/ span 6;
    }

    .training-img5 {
        grid-column: 7/ -1;
    }

    .training-img6 {
        display: none;
    }


    /* training section ends here............... */


    /* bmi section starts here................. */
    .bmi-content {
        width: 80%;
        margin: 0 auto;
    }

    .bmi-container {
        padding: 30px 0px;
        flex-direction: column;
        gap: 30px;
    }

    .bmi-table,
    .bmi-form {
        width: 100%;
    }

    .table-title {
        margin-bottom: 30px;
    }

    table {
        width: 100%;
    }

    .table-head {
        font-weight: 400;
        font-size: 0.8rem;
    }

    .btn-form {
        margin-top: 20px;
    }

    /* bmi section ends here................. */


    /* team section starts here................ */

    .team-content {
        width: 100%;
    }

    .team-img-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 270px 270px 270px 270px;
    }

    .team-img-container>div img {
        object-fit: cover;
        object-position: center;
    }

    .tean-img-hide {
        display: none;
    }

    .designation>h5 {
        font-size: 0.8rem;
    }

    /* team section ends here................ */


    /* footer section starts here.............. */

    .footer-container {
        flex-direction: column;
        gap: 20px;
        padding: 30px 0;
    }

    .brand-content,
    .footer-center-content,
    .footer-right-content {
        width: 100%;
    }

    .footer-list li {
        margin-bottom: 10px;
    }
    .footer-title{
        margin-bottom: 8px;
    }

    /* footer section ends here.............. */





}